// Place all the styles related to the servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  h1 {
    margin-right: 30px;
  }
}

.server-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
  a {
    text-decoration: none;
  }
}

.server-card {
  background-color: white;
  border-radius: 6px;
  img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
  }
}
.text {
  padding: 10px;
  p {
    color: black;
    margin: 0px;
  }
}

.server-destroy {
  padding: 0px 10px 10px 10px;
}

.card {
  border: none;
}

.form-group {
  margin-bottom: 20px;
}

.file {
  margin-right: 10px;
}

@media(max-width: 992px) {
  .server-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .server-grid {
    grid-template-columns: 1fr;
  }
}
